.aboutContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    .heading{
        font-size: 35px;
        position: absolute;
        top: -150px;
        left: 0px;
    }
    img{
        margin: 20px;
    }
    .dtaContaineer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 85%;
    }
    .statsBox{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 45px;
        width: 90%;
    }
}