.container{
    h2{
        font-size: 35px;
        margin-bottom: 90px;
    }
    .InnerContainer{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 60px 20px;
        .card{
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 20px;
            border-radius: 20px;
            width: 26.6%;
            position: relative;
            img{
                width: 300px;
                height: 211px;
            }
            .tag{
                color: #fff;
                background-color: red;
                border-bottom-left-radius: 0.98rem;
                border-bottom-right-radius: 0.98rem;
                position: absolute;
                top: 1px;
                left: 1.5rem;
                font-size: 16px;
                display: inline-block;
                padding: 0.19rem 0.625rem;
            }
        }
    }
}